*
{
    margin: 0;
    padding:0;
    font-family: 'Comfortaa',
    cursive;

}

body{
    background-color: rgb(241, 241, 241);
}
table.container{
    border:5px solid rgb(216, 76, 0);
    /* border-collapse: collapse; */
    padding: 30px;
    border-radius: 30px;
    background-color: rgb(255, 221, 179);
    width: 40%;
    height:600px;
    
}
tr{
    padding: 30px;
}

input{
    font-size: 10px;
    padding: 7px;
    border-radius: 10px;
    width: 75%;
}
label{
    font-size: 20px;
    font-weight: bolder;
}
h1{
    font-size: 35px;
    text-align: center;
    color: rgb(247, 107, 0);
}
button{
    font-size: 20px;
    padding: 8px;
    border-radius: 5px;

}